{% extends 'base.html' %}
{% block title %}
    Responder
{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}success
        {% elif  message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}secondary{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <br>
    <div class="container">
    <h2 class="text-center" style="color: #447e9b">Respuesta</h2>
    <form method="post" action="{% url 'enviar_respuesta' %}">{% csrf_token %}
         <div class="form-group">
             <label for="contenido">Contenido:<sup style="color: #993333">*</sup></label>
             <textarea name="contenido" id="contenido" class="container" required></textarea>
          </div>
        <input type="hidden" name="destino" value="{{ origen }}"/>
        <img id="img" src="" style="max-height: 1000px; max-width: 950px"/>
        <input type="file" id="mensaje_img" name="foto" accept="image/png, image/jpeg">
        <button class="btn btn-success btn-block" type="submit">Responder</button>
    </form>
    </div>
{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            function readImage(input) {
                if (input.files && input.files[0]) {
                    let reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#mensaje_img").change(function () {
                readImage(this);
            });
        });
    </script>
{% endblock %}