{% extends 'base.html' %}
{% block title %}
    Subir imagen
{% endblock %}
{% block content %}
    <br>
    <div class="container">
    <h2 class="text-center" style="color: #447e9b">Subir imagen</h2>
    <form method="post" action="{% url 'subir_imagen' %}" enctype="multipart/form-data">{% csrf_token %}
         <div class="form-group">
             <label for="descripcion">Descripción:<sup style="color: #993333">*</sup></label>
             <textarea name="descripcion" id="descripcion" value="{% if imagen is not None %}{{ imagen.descripcion }}{% endif %}" class="form-control" required ></textarea>
             <small>Recuerde que puede incluir #hashtag</small>
          </div>
        <img id="img" src="" style="max-height: 1000px; max-width: 950px"/>
        <input type="file" id="mensaje_img" name="foto" accept="image/png, image/jpeg">
        <button class="btn btn-success btn-block" type="submit">Responder</button>
    </form>
    </div>
{% endblock %}
{% block javascripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {
            function readImage(input) {
                if (input.files && input.files[0]) {
                    let reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#mensaje_img").change(function () {
                readImage(this);
            });
        });
    </script>
{% endblock %}